<html>
<head>
    <title>日期：${date}</title>
</head>>
<body>

<div name='part1'>
    <p>京东商城最新内存条均价:<font face="verdana" color="red" size="8">${ramprice}</font></p>
</div>

<div name='part2'>
    <p>京东商城最新gtx 1060 6gb 显卡前五位:</p>
    <p><font face="arial" size="5">${gpuname0}</font>:<font face="verdana" size="8">${gpuprice0}</font></p>
    <p><font face="arial" size="5">${gpuname1}</font>:<font face="verdana" size="8">${gpuprice1}</font></p>
    <p><font face="arial" size="5">${gpuname2}</font>:<font face="verdana" size="8">${gpuprice2}</font></p>
    <p><font face="arial" size="5">${gpuname3}</font>:<font face="verdana" size="8">${gpuprice3}</font></p>
    <p><font face="arial" size="5">${gpuname4}</font>:<font face="verdana" size="8">${gpuprice4}</font></p>

</div>

</body>

</html>